<!DOCTYPE html>
<html>
<head>
  <title>Form</title>
</head>
<body>
  <h1><%= person._id ? 'Edit' : 'Add' %> Person</h1>
  <form action="<%= action %>" method="<%= method %>">
    <label>Name: <input type="text" name="name" value="<%= person.name || '' %>" required></label><br>
    <label>Age: <input type="number" name="age" value="<%= person.age || '' %>" required></label><br>
    <label>Gender: <input type="text" name="gender" value="<%= person.gender || '' %>" required></label><br>
    <label>Mobile: <input type="text" name="mobile" value="<%= person.mobile || '' %>" required></label><br>
    <button type="submit">Submit</button>
  </form>
  <a href="/person">Back</a>
</body>
</html>
