<!DOCTYPE html>
<html>
<head>
  <title>Person List</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <h1>All Persons</h1>
  <a href="/person/new">+ Add Person</a>
  <table>
    <tr><th>Name</th><th>Age</th><th>Gender</th><th>Mobile</th><th>Actions</th></tr>
    <% people.forEach(p => { %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.age %></td>
        <td><%= p.gender %></td>
        <td><%= p.mobile %></td>
        <td>
          <a href="/person/<%= p._id %>/edit">Edit</a> |
          <a href="/person/<%= p._id %>/delete">Delete</a>
        </td>
      </tr>
    <% }); %>
  </table>
</body>
</html>
